#about-concept-section ._wrapper {
  flex-direction: column;
  gap: 40px;
  padding: 110px 100px;
  font-family: 'Raleway';
}


.about-concept__title {
  font-family: 'Lato';
}

.about-concept__title,
.about-concept__title>* {
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 41px;
}

.about-concept__title span {
  font-weight: 700;
}

.about-concept__description {
  font-size: 21px;
  text-align: center;
  line-height: 2;
}

.tag-list {
  font-size: 21px;
  display: flex;
  gap: 40px;
  font-weight: 600;
}

@media(max-width: 768px) {
  #about-concept-section ._wrapper {
    padding: 70px 30px;
    gap: 30px;
  }

  .about-concept__title,
  .about-concept__title>* {
    font-size: 35px;
  }

  .about-concept__description {
    font-size: 21px;
  }
}

@media(max-width: 600px) {
  .tag-list {
    display: none;
  }
}

@media(max-width: 500px) {
  #about-concept-section ._wrapper {
    padding: 50px 30px;
    gap: 20px;
  }

  .about-concept__title,
  .about-concept__title>* {
    font-size: 31px;
    text-align: center;
  }

  .about-concept__description {
    font-size: 17px;
    line-height: 1.5;
  }
}