#gallery-contacts_section ._wrapper {
  position: relative;
  flex-direction: column;
  padding-top: 140px;
  z-index: 5;
}

#gallery-contacts_section ._wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 15%;
  width: 17%;
  height: 100%;
  background: var(--main-color);
}

.gallery__title {
  font-size: 2.5em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 50px;
}

.contacts-container {
  padding-top: 115px;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-imgs-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  transition: 0.3s;
  background: var(--main-color);
}

.gallery-imgs-container::-webkit-scrollbar-thumb:hover {
  background: #d39b00;
}

.gallery-imgs-container::-webkit-scrollbar-thumb:active {
  background: #966e00;
}

.contacts-container > .hash-tag,
.contacts-container > .hash-tag > span {
  color: #fff;
  font-size: 2.5em;
  font-weight: 600;
  padding: 0;
}

.contacts-container > .hash-tag {
  margin-bottom: 60px;
}

.contacts-content {
  display: flex;
  padding-left: 100px;
  max-width: 1000px;
  gap: 125px;
}

.quote-text,
.quote-author {
  line-height: 1.5;
  font-family: "Lato";
  font-size: 1.55em;
}

.quote-author {
  text-align: right;
  font-weight: 600;
  margin-top: 20px;
  font-family: "Lato";
}

.media p {
  margin-bottom: 10px;
  font-family: "Lato";
  font-size: 1.55em;
}

.sm {
  display: flex;
  gap: 15px;
  margin-bottom: 60px;
}

.sm img {
  padding: 3px;
  transition: 0.1s;
  border-radius: 50%;
  width: 60px;
}

.sm img:hover {
  outline: 3px solid var(--main-color);
}

.sm img:active {
  outline-color: #c59000;
}

p.website-url span {
  color: var(--main-color);
  font-size: 1.5em;
  font-weight: 600;
}

@media (max-width: 1440px) {
  .gallery__imgs {
    display: flex;
    justify-content: space-between;
    gap: 7px;
    height: 100%;
  }

  .gallery-imgs-container {
    max-width: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) transparent;
  }
}

@media (max-width: 1300px) {
  .contacts-content {
    max-width: 900px;
    gap: 85px;
  }
}

@media (max-width: 1000px) {
  .contacts-content {
    padding: 0 60px;
    gap: 100px;
  }

  .quote-text,
  .quote-author {
    font-size: 1.45em;
  }

  .media p {
    font-size: 1.45em;
  }

  .gallery-imgs-container {
    background: transparent;
    height: 400px;
  }

  .sm img {
    width: 50px;
  }

  p.website-url span {
    font-size: 1.3em;
  }
}

@media (max-width: 800px) {
  #gallery-contacts_section ._wrapper {
    padding-top: 70px;
  }

  #gallery-contacts_section ._wrapper::before {
    left: 70px;
    width: 120px;
  }

  .gallery__title {
    font-size: 2.3em;
  }

  .contacts-content {
    flex-direction: column;
    max-width: 500px;
    gap: 55px;
  }
}

@media (max-width: 630px) {
  #gallery-contacts_section ._wrapper::before {
    display: none;
  }

  .contacts-content {
    padding: 20px;
    gap: 3.5em;
  }

  .quote-text,
  .quote-author {
    font-size: 1.45em;
  }

  .media p {
    margin-bottom: 10px;
    font-family: "Lato";
    font-size: 1.25em;
  }

  .contacts-container {
    padding: 70px 0;
  }

  .contacts-container > .hash-tag {
    font-size: 1.9em;
    margin-bottom: 20px;
  }

  p.website-url span {
    color: var(--main-color);
    font-weight: 600;
  }
}

@media (max-width: 500px) {
  .gallery-imgs-container {
    height: 300px;
  }

  .gallery__title {
    font-size: 2.1em;
  }
}
