@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&family=Raleway:wght@700&display=swap');

/* ======= Clearing of some default styles ======= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  text-decoration: none;
  color: #fff;

}

ul {
  list-style-type: none;
}

/* =============================================== */

html {
  scroll-behavior: smooth
}


:root {
  --main-color: #ffba00;
  --main-dark-color: #242424;
  --container-width: 1440px;
}

body {
  background: var(--main-dark-color);
}

section {
  position: relative;
  display: flex;
  justify-content: center;
}

._wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
}

._wrapper>* {
  z-index: 1;
}

.container {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  background-color: #454545;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5px;
  transition: .3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #d39b00;
}

::-webkit-scrollbar-thumb:active {
  background: #966e00;
}

@media (max-width: 1440px) {}