#whats-new_sect {
  padding: 50px;
}

#whats-new_sect ._wrapper {
  padding: 80px 300px 80px 130px;
  align-items: center;
}

.wn-items-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

#whats-new_sect .container {
  display: flex;
  position: relative;
}

#whats-new_sect .container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 13rem;
  background: var(--main-color);
  z-index: -1;
}

#whats-new_sect .container > * {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#whats-new_sect .img-bg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("images/pizza2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: calc(100% - 100px); /* 100% - section padding */
  width: 100%;
  z-index: -5;
}

.vertical_text_container {
  justify-content: center;
  padding-right: 4rem;
  max-width: 9.3rem;
  min-width: 9.3rem;
  width: 100%;
}

.vertical_text {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotateZ(180deg);
  font-size: 3.1rem;
  font-weight: 300;
  letter-spacing: 0.08em;
}

.wn__main-text {
  justify-content: space-between;
  position: relative;
}

#whats-new_sect h2 {
  font-family: "Lato";
  font-size: 2.7rem;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 2rem;
}

.wn__main-text p {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: 500;
}

@media (max-width: 1200px) {
  #whats-new_sect ._wrapper {
    padding: 30px 150px 30px 100px;
  }

  #whats-new_sect h2 {
    margin-bottom: 1rem;
  }

  #whats-new_sect .container::before {
    height: 12.5rem;
    transform: translateY(calc(-50% - 0.5rem));
  }
}

@media (max-width: 1024px) {
  #whats-new_sect ._wrapper {
    padding: 50px;
  }

  .vertical_text_container {
    padding-right: 2rem;
    max-width: 100px;
    min-width: 50px;
  }

  #whats-new_sect .container::before {
    height: 12rem;
    transform: translateY(-50%);
  }

  .vertical_text {
    font-size: 2.9rem;
  }

  .wn__main-text h2 {
    font-size: 2rem;
  }

  .wn__main-text p {
    font-size: 1.9rem;
  }
}

@media (max-width: 768px) {
  #whats-new_sect .container::before {
    height: 10.5rem;
    transform: translateY(calc(-50% - 1rem));
  }

  #whats-new_sect ._wrapper {
    padding: 30px 0;
  }

  .wn-items-container {
    gap: 0.5rem;
  }

  #whats-new_sect h2 {
    margin-bottom: 1rem;
    font-size: 2.2rem;
  }

  #whats-new_sect p {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  #whats-new_sect {
    padding: 50px 20px;
  }

  .wn__main-text {
    padding: 0;
  }

  .vertical_text_container {
    display: none !important;
  }

  #whats-new_sect ._wrapper {
    padding: 20px 0;
  }

  #whats-new_sect .container {
    padding: 0 20px;
  }

  #whats-new_sect .container::before {
    display: none;
  }

  #whats-new_sect .img-bg {
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .wn-items-container {
    gap: 0;
  }

  #whats-new_sect h2 {
    margin-bottom: 0.75rem !important;
    font-size: 2rem;
  }

  #whats-new_sect p {
    position: relative;
    font-size: 1.7rem;
    padding: 0.5rem 0;
  }

  #whats-new_sect p:first-child::after,
  #whats-new_sect p:nth-child(2)::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    background: var(--main-color);
    width: calc(100% + 40px);
    height: 100%;
    z-index: -1;
  }
}

@media (max-width: 530px) {
  #whats-new_sect {
    padding: 30px 10px;
  }

  #whats-new_sect p {
    font-size: 1.5rem;
  }
}
